/* .sticky-note {
    position: absolute;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px;
    cursor: move;
    width: 200px;
    z-index: 1000;
  }
   */

   .sticky-note {
    position: absolute;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 200px;
    min-height: 100px;
    resize: both;
    overflow: auto;
    z-index: 1000;
    
  }

  .note-header {
      z-index: 1000;
  }

  .sticky-note div {
    background-color: #2196F3;
    color: white;
    padding: 5px;
    cursor: move;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .sticky-note button {
    float: right;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
    